html{
	background-color: #09091b;
}
body{
	text-align: center;
}
*{
	text-decoration: none;
	color: whitesmoke;
}
/* Estilos del contenedor principal */
.mainWrapper{
	position: absolute;
	margin: 0 auto;
	top: 40%;
	left: 30%;
	width: 35%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.textAnim{
	font-size: 200%;
}
.contactMenu{
	right: 0%;
	position: absolute;
	text-align: right;
}
.contactMenu ul li{
	list-style: none;
	padding-top: 10px;
}
