html{
	background-color: #09091b;
}
body{
	text-align: center;
}
*{
	text-decoration: none;
	color: whitesmoke;
}
/* Estilos del contenedor principal */
.mainWrapper{
	position: absolute;
	margin: 0 auto;
	top: 40%;
	left: 25%;
	width: 35%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
/* Estilos de texto de animacion y menu de links*/
.textAnim{
	font-family:'Roboto', sans-serif;
	font-size: 400%;
}
.contactMenu{
	top: -25%;
	right: 0%;
	position: absolute;
	text-align: right;
}
.contactMenu ul li{
	font-family: Verdana;
	list-style: none;
	padding-top: 10%;
}
#linkedin{
	color: #0e76a8 ;
}
#myWeb{
	color: #FF97D9;
}
#cv{
	color: #4CDC94;
}